#cookie-law { 
    background:black; 
    margin:0px auto 0; 
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
 
#cookie-law p { 
    padding:10px; 
    font-size:.8em; 
    font-weight:normal; 
    text-align:center; 
    color: white; 
    margin:0;
}