{{ define "main" }}


{{ $img := .Params.thumbnail }}
<article class="w-full my-0 bg-white md:mx-auto md:w-148">
    <div class="relative bg-white md:shadow-xl md:rounded -top-32 sm:-top-40 md:-top-20">
        <div class="md:rounded md:shadow-lg">
            <H3 class="text-gray-800 font-sans pt-4 text-4xl font-medium text-center">{{ .Page.Title }}</H3>
            <H4 class="text-white font-sans font-normal  text-md">{{ .Params.subtitle }}</H4>
            <hr class="mt-4">
        </div>
        <div class="mx-4 pb-8 mt-0 prose prose-lg text-left md:mx-auto prose-indigo md:font-serif">
            <div>
                {{ .Content }}
                {{ partial "contact_btn.html" }}
                <p class="h-4"></p>
            </div>
        </div>
    </div>
</article>
{{ end }}