{{ $width := "60px" }}
{{ $img := "pattern-language" }}
{{ $text := "Let's agree to define productivity in terms of throughput. We can debate the meaning of productivity in terms of additional measurements of the business value of delivered work, but as Eliyahu Goldratt pointed out in his critique of the Balanced Scorecard, there is a virtue in simplicity. Throughput doesn’t answer all our questions about business value, but it is a sufficient metric for the context of evaluating the relationship of practices with productivity." }}
{{ $alt := "pattern language" }}

<script type="text/javascript" src="{{ "js/top.js" | absURL }}"></script>

<style>
  .btncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  }
  .curve {
    width: 20%;
    height: auto;
    float: left;
    margin-right:2rem;
    border-radius: 50%;
    shape-outside:circle();
  }


</style>
<div class="container my-6 mx-auto w-full">
  <a href="/contact">
  <picture>
    <source srcset="/img/webp/{{ $img }}.webp" type="image/webp">
    <source srcset="/img/jpg/{{ $img }}.jpg" type="image/jpeg">
  <img class="float-left transform rounded-full hover:rotate-6 curve" src="/img/jpg/{{ $img }}.jpg" alt="{{ $alt }}" style="width:{{ $width }}; float: left; border-radius: 50px;">
  </picture>
  </a>
  <p class="mx-6 md:mx-12 text-sm ">{{ $text }}</p>
  <object class="float-right mt-2 mb-1 mr-3 transform fill-current hover:rotate-12 w-14 h-14" data="/img/icon/icon_squirrel_crouching_red-right.svg" type="image/svg+xml"></object>
  <object class="float-left mt-2 mb-1 mr-3 transform fill-current hover:rotate-12 w-14 h-14" data="/img/icon/icon_squirrel_crouching-grey.svg" type="image/svg+xml"></object>

  <button onclick="topFunction()" id="myBtn"
  class="block w-24 p-2 mx-auto mt-4 font-sans text-xs text-blue-500 transform bg-transparent border border-blue-500 rounded-lg ring-1 hover:bg-blue-500 hover:text-white hover:-rotate-90"
    title="Go to top">Back to Top
     <i class="fas fa-chevron-circle-up"></i>
    </button>
  <div class="h-4"></div>
</div>
