
{{ $webp := absURL (print "/img/webp/" .Site.Params.banner ".webp") }}
{{ $jpg := absURL (print "/img/jpg/" .Site.Params.banner ".jpg") }}

<style>
    .active{
        display: block;
    }
</style>



<header class="z-0 mx-auto mb-10 h-96" style="background-image: url('{{ $webp }}'), url('{{ $jpg }}'); background-position: center; background-size: cover;">

<div class="z-50 p-5 mx-auto bg-blue-900 bg-opacity-30">
  <nav class="flex-row md:justify-between">
    <div class="float-left w-10 mr-5">
    <a class="" href="/"><img class="transform hover:rotate-12" src="{{ "/img/logo.svg" | absURL }}" alt="{{ .Site.Title }}" /></a>
    </div>
    <ul class="hidden md:flex md:flex-row" id="mobileMenu">
      {{- range .Site.Menus.main }}
        <li><a  class="pr-5 font-medium text-white topnav hover:text-yellow-200" href="{{ .URL }}">{{ .Name }}</a></li>
      {{- end }}
      {{- range .Site.Menus.social }}
        <li><a  class="m-2 text-white hover:text-yellow-200 " href="{{ .URL }}" aria-label="{{ .Name }}"><i class="{{  .Title }}" aria-hidden="true" title="{{ .Name }}"></i></a></li>
      {{- end }}
    </ul>
    <p id="hamburgerbtn" class="text-white md:hidden ">
      <i class="fa fa-bars"></i>
    </p>
  </nav>
</div>
  <h1 class="mt-5 ml-5 mt-20 w-3/5 text-3xl md:text-5xl font-semibold tracking-wide text-yellow-300 transform hover:text-yellow-400 font-title">{{ .Site.Title }}</h1>
  <h2 class="ml-5 mt-2 font-sans font-semibold tracking-normal  text-white text-1xl md:text-2xl">{{ .Site.Params.subtitle }}</h2>
  <h2 class="ml-5 mt-0 font-sans font-semibold tracking-normal  text-white text-1xl md:text-2xl transform hover:text-yellow-400">{{ .Site.Params.tagline }}</h2>
  <div class="float-right w-10 mr-5">
  <a class="z-50" href="https://vimeo.com/curtisguilbot"><img class="transform hover:scale-125 absolute top-20 right-20 h-32 w-32" src="{{ "/img/video_play.svg" | absURL }}" alt="{{ .Site.Title }}" /></a>
  </div>
</header>
<script>
let hamburger = document.getElementById('hamburgerbtn');

let mobileMenu = document.getElementById('mobileMenu');

hamburger.addEventListener('click', function(){
    mobileMenu.classList.toggle('active');
  });

  window.addEventListener("load", function(){
    // get all anchor elements within an element with the topnav class
  let locationPath = window.location.pathname;
   let collection = document.querySelectorAll(".topnav");
    // parameters for forEach are (element, index)
    collection.forEach((ele, ind) => {
    let elePath = ele.pathname;
    let firstPath = locationPath.split('/');
    let secondPath = '/chapters/' + firstPath[1] + '/';
    if (( elePath == locationPath ) ||
        ( elePath ==  secondPath ) ||
       ( elePath.includes('talks') && locationPath.includes('talks'))
      )
      {
        ele.classList.remove("text-white");
        ele.classList.add("text-yellow-400");
      }
      else {
        ele.classList.remove("text-yellow-400");
        ele.classList.add("text-white");
      }
  })
});

</script>
