<link rel="stylesheet" href="/css/main.css">

{{ $webp := absURL (print "/img/webp/" .Site.Params.hero_img ".webp") }}
{{ $jpg := absURL (print "/img/jpg/" .Site.Params.hero_img ".jpg")  }}
{{ $h1 := .Site.Params.hero_height }}
{{ $h2 := " mx-auto mb-10 " }}
{{ $h := (print $h1 $h2) }}
{{ $twtitle := print .Site.Params.hero_titlecolor  " ml-8 md:ml-20 mt-12 max-w-7xl text-3xl md:text-7xl font-semibold tracking-wide font-title " .Site.Params.hero_titleflyover }}
{{ $twtagline := print .Site.Params.hero_taglinecolor  " ml-8 md:ml-20 mt-2 font-sans font-semibold tracking-normal text-1xl md:text-3xl " .Site.Params.hero_taglineflyover }}

<header class="{{ $h }}" style="background-image: url('{{ $webp }}'), url('{{ $jpg }}'); background-position: center; background-size: cover;">

  <div id="topnav" class="-z-10 p-5 mx-auto bg-blue-900 bg-opacity-70">
    <nav class="flex-row md:justify-between">
      <div class="float-left w-10 mr-5">
      <a class="" href="/"><img class="transform hover:rotate-12" src="{{ .Site.Params.org_logo | absURL }}" alt="{{ .Site.Title }}" /></a>
      </div>
      <ul class="hidden md:flex md:flex-row" id="mobileMenu">
        {{- range .Site.Menus.main }}
          <li><a  class="pr-5 font-medium text-white topnav hover:text-yellow-200" href="{{ .URL }}">{{ .Name }}</a></li>
        {{- end }}
        {{- range .Site.Menus.social }}
          <li><a  class="m-2 text-white hover:text-yellow-200 " href="{{ .URL }}" aria-label="{{ .Name }}"><i class="{{  .Title }}" aria-hidden="true" title="{{ .Name }}"></i></a></li>
        {{- end }}
      </ul>
      <p id="hamburgerbtn" class="text-white md:hidden ">
        <i class="fa fa-bars"></i>
      </p>
    </nav>
  </div>
  <div>
  <div class="float-right w-32 md:w-96 ">
    <a class="mr-20" href="{{ .Site.Params.hero_video }}"><img class="transform hover:scale-125  h-12 md:h-32 w-12 md:w-32" src="{{ "/img/icon/video_play.svg" | absURL }}" alt="{{ .Site.Title }}" />
    </a>
  </div>

  <h1 style="text-shadow: 2px 2px 4px black;" class="{{ $twtitle }}">{{ .Site.Title }}
    {{ if .Site.Params.toggle_trademark }}<span class="tm relative text-xs">TM</span>{{ end }}
  </h1>

  <h2 style="text-shadow: 1px 1px 2px black;" class="{{ $twtagline }}">{{ .Site.Params.hero_tagline }}
  </h2>
  </div>
</header>

<script>
let hamburger = document.getElementById('hamburgerbtn');

let mobileMenu = document.getElementById('mobileMenu');

hamburger.addEventListener('click', function(){
    mobileMenu.classList.toggle('active');
  });

  window.addEventListener("load", function(){
    // get all anchor elements within an element with the topnav class
  let locationPath = window.location.pathname;
   let collection = document.querySelectorAll(".topnav");
    // parameters for forEach are (element, index)
    collection.forEach((ele, ind) => {
    let elePath = ele.pathname;
    let firstPath = locationPath.split('/');
    let secondPath = '/chapters/' + firstPath[1] + '/';
    if (( elePath == locationPath ) ||
        ( elePath ==  secondPath ) ||
       ( elePath.includes('talks') && locationPath.includes('talks'))
      )
      {
        ele.classList.remove("text-white");
        ele.classList.add("text-yellow-400");
      }
      else {
        ele.classList.remove("text-yellow-400");
        ele.classList.add("text-white");
      }
  })
});

</script>
