{{ define "main" }}
<article class="z-10 w-full my-0 md:mx-auto md:w-148">
       <div class="relative  bg-white md:shadow-xl md:rounded -top-32 sm:-top-40 md:-top-20">
         <div class="md:rounded md:shadow-lg">
         <H3 class="pt-4 text-3xl font-medium text-center">{{ .Page.Title }}</H3>
         <H4  class="font-normal text-center text-md">{{ .Params.subtitle }}</H4>
         <hr>
         </div>
         <div class="mx-4 mt-0 prose prose-lg text-left md:mx-auto prose-indigo md:font-serif">
            {{ .Content }}
         </div>
</article>
{{ end }}
