{{ define "main" }}
<article class="z-10 w-full my-0 md:mx-auto md:w-148">
       <div class="relative  bg-white md:shadow-xl md:rounded -top-8 md:-top-20">
         <div class="md:rounded md:shadow-lg">
         <H3 class="pt-4 text-3xl font-medium text-center">{{ .Page.Title }}</H3>
         <H4  class="font-normal text-center text-md">{{ .Params.subtitle }}</H4>
         <hr>
         </div>
         <div class="mx-4 mt-0 prose prose-lg text-left md:mx-auto prose-indigo md:font-serif">
            {{ .Content }}
         </div>
       <p>
       <div class="py-4 ml-0 text-center">
       {{ if .NextPage }} <span class="p-4"><a class="p-2 font-sans text-xs text-blue-500 bg-transparent border border-blue-500 rounded-lg ring-1 hover:bg-blue-500 hover:text-white" href="{{ .NextPage.Permalink }}"><i class="fas fa-chevron-circle-left"></i> {{ if .NextPage.Params.shorttitle }} {{ .NextPage.Params.shorttitle }} {{ else }} {{ .NextPage.Title }}{{ end }} </a></span>  {{ end }}

            {{ if .PrevPage }}  <span class="p-4"><a class="p-2 font-sans text-xs text-blue-500 bg-transparent border border-blue-500 rounded-lg ring-1 hover:bg-blue-500 hover:text-white" href="{{ .PrevPage.Permalink }}">{{ if .PrevPage.Params.shorttitle }} {{ .PrevPage.Params.shorttitle }} {{ else }} {{ .PrevPage.Title }}{{ end }} <i class="fas fa-chevron-circle-right"></i></a></span>  {{ end }}
       </div>
         </p>
         <hr>
         <div class="my-0 md:w-148">
         {{ if ne .Params.skip "true" }}
            {{ partial "cta.html" . }}
         {{ end }}
        </div>
</article>
{{ end }}
