<style>
  .curve {
    width: 20%;
    height: auto;
    float: left;
    margin-right:2rem;
    border-radius: 50%;
    shape-outside:circle();
  }
</style>

 <div class="mx-4 space-y-3">
   <img class="float-left rounded-full transform hover:rotate-6 curve" src="/img/orig/{{ .Site.Params.authorimage }}.jpg" alt="{{ .Site.Params.author }}" >

 <p class="font-serif text-left text-normal"> </p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet consectetur adipiscing elit ut aliquam purus sit amet. Molestie a iaculis at erat pellentesque adipiscing commodo elit. Proin nibh nisl condimentum id venenatis.</p>


<p>Posuere urna nec tincidunt praesent semper feugiat. Interdum posuere lorem ipsum dolor. Tellus molestie nunc non blandit massa enim nec dui nunc. Commodo viverra maecenas accumsan lacus vel facilisis. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut consequat. Et molestie ac feugiat sed lectus. Id venenatis a condimentum vitae.</p>

<p>If you think you might find that valuable, or you have something you want to talk over, please reach out.</p>
 </div>
