<style>
  .curve {
    width: 20%;
    height: auto;
    float: left;
    margin-right:2rem;
    border-radius: 50%;
    shape-outside:circle();
  }
</style>

 <div class="mx-4 space-y-3">
   <img class="float-left rounded-full transform hover:rotate-6 curve" src="/img/jpg/michael-godeck.jpg" alt="Michael Godeck" >

 <p class="font-serif text-left text-normal"> </p>
<p>I've logged tens of thousands of hours in varied roles as programmer, team lead, system architect, scrum master, product owner, business analyst and kanban coach, scoring successes at Applied Econometics, MCI Worldcom, American Airlines, Texas Windstorm, Thoughtworks, Pfizer and other organizations.</p>

<p>Working in technology, we end up sipping from the firehose, pretty much every day of the week. One area I've been consistently successful with is in helping to sort the signal from the noise.</p>

<p>If you think you might find that valuable, or you have something you want to talk over, please reach out.</p>
 </div>
